---
  - name: Stop services with srvctl
    shell: |
      ( srvctl stop listener -l {{ listener_name }} -f ) || true
      ( srvctl stop home -o {{ oracle_home }} -s /tmp/srvctl -t abort -f ) || true
      ( srvctl stop asm -o abort -f ) || true
    environment:
      ORACLE_HOME: "{{ grid_home }}"
      PATH: "{{ grid_home }}/bin:/usr/local/bin:/bin:/usr/bin:/usr/local/sbin:/usr/sbin"
      ORACLE_SID: "{{ asm_sid }}"
      LD_LIBRARY_PATH: "{{ grid_home }}/lib:${LD_LIBRARY_PATH}"
    register: srvice_stop
    ignore_errors: yes
    become: yes
    become_user: "{{ grid_user }}"

  - name: Deconfigure CRS
    command: "{{ grid_home }}/perl/bin/perl -I {{ grid_home }}/perl/lib -I {{ grid_home }}/crs/install {{ grid_home }}/crs/install/roothas.pl -deconfig -force -verbose"
    register: has_deconfig
    ignore_errors: yes
    become: yes
    become_user: root

  - name: Kill remaining processes
    shell: |
      ( kill -9 $(ps -ef|grep "ora_smon" |grep -v "grep"|awk '{print $2}') ) || true
      ( kill -9 $(ps -ef|grep "tnslsnr"  |grep -v "grep"|awk '{print $2}') ) || true
      ( kill -9 $(ps -ef|grep "agent13c" |grep -v "grep"|awk '{print $2}') ) || true
      ( kill -9 $(ps -ef|grep "PROTOCOL=beq" |grep -v "grep"|awk '{print $2}') ) || true
      ( kill -9 $(ps -ef|grep "/grid/bin/" |grep -v "grep"|awk '{print $2}') ) || true
    register: kill_procs
    become: yes
    become_user: root

  - name: Remove directories and files
    file:
      path: "{{ item }}"
      state: absent
    with_items:
      - "{{ scripts_dir }}"
      - "{{ logs_dir }}"
      - "{{ oracle_home }}"
      - "{{ grid_home }}"
      - "{{ oracle_root }}"
      - "{{ swlib_unzip_path }}"
      - /usr/tmp/.oracle
      - /var/tmp/.oracle
      - /tmp/.oracle
      - /tmp/srvctl
      - /etc/oratab
      - /etc/oragchomelist
      - /etc/oraInst.loc
      - /usr/local/bin/dbhome
      - /usr/local/bin/oraenv
      - /usr/local/bin/coraenv
      - /etc/init.d/ohasd
      - /etc/init.d/init.ohasd
      - /etc/oracle
      - /etc/sysconfig/oracleasm-update
      - /etc/sysconfig/oracleasm.rpmsave
      - /etc/sysconfig/oracledrivers.conf
      - /etc/systemd/system/oracle-ohasd.service
      - /etc/systemd/system/graphical.target.wants/oracle-ohasd.service
      - /etc/systemd/system/multi-user.target.wants/oracle-ohasd.service
      - /etc/systemd/system/multi-user.target.wants/oracleasm.service
      - /var/log/oracleasm
      - /var/log/oracleohasd
    register: remove_files
    become: yes
    become_user: root

  - name: Find /tmp/CVU directories to remove
    find:
      paths: /tmp
      patterns: "CVU.*"
      file_type: directory
      use_regex: true
    register: tmp_dirs

  - name: Remove any found /tmp/CVU dirs
    file:
      path: "{{ item.path }}"
      state: absent
    with_items: "{{ tmp_dirs.files }}"
    become: yes
    become_user: root

  - name: (asmlib) Delete asmlib managed disk names
    command: "/usr/sbin/oracleasm deletedisk {{ item.1.name }}"
    with_subelements:
      - "{{ asm_disks }}"
      - disks
    register: delete_asm_disks
    #when: asm_disk_control == "asmlib"
    become: yes
    become_user: root
    ignore_errors: true

  - name: (asmlib) remove oracleasm packages
    yum:
      name: '*oracleasm*'
      state: absent
      lock_timeout: 180
    register: remove_oracleasm
    become: yes
    become_user: root

  - name: Unmount Oracle user data devices (including fstab)
    mount:
      fstype: "{{ item.fstype }}"
      src: "{{ item.blk_device }}1"
      path: "{{ item.mount_point }}"
      state: absent
    with_items:
      - "{{ oracle_user_data_mounts }}"

  - name: Unmount Oracle user data devices (if not already in fstab)
    mount:
      fstype: "{{ item.fstype }}"
      src: "{{ item.blk_device }}1"
      path: "{{ item.mount_point }}"
      state: unmounted
    with_items:
      - "{{ oracle_user_data_mounts }}"

  - name: Zero-out header in Oracle user data disks
    command: "dd if=/dev/zero of={{ item.blk_device }}1 bs=1M count=1"
    with_items:
      - "{{ oracle_user_data_mounts }}"
    become: yes
    become_user: root

  - name: Delete partition Oracle user data devices
    parted:
      device: "{{ item.blk_device }}"
      number: 1
      state: absent
    with_items:
      - "{{ oracle_user_data_mounts }}"

  - name: Zero-out header in ASM disks partitions
    command: "dd if=/dev/zero of={{ item.1.blk_device }}1 bs=1M count=1"
    with_subelements:
      - "{{ asm_disks }}"
      - disks
    register: zero_disks
    become: yes
    become_user: root

  - name: Zero-out header in ASM disks
    command: "dd if=/dev/zero of={{ item.1.blk_device }} bs=1M count=1"
    with_subelements:
      - "{{ asm_disks }}"
      - disks
    register: zero_disks
    become: yes
    become_user: root

  - name: Refresh kernel partition table view
    command: "blockdev --rereadpt {{ item.blk_device }}"
    with_items:
      - "{{ oracle_user_data_mounts }}"
    become: yes
    become_user: root

  - name: Delete partition all ASM disks
    #debug: msg="{{ item }}"
    parted:
      device: "{{ item.1.blk_device }}"
      number: 1
      state: absent
    with_subelements:
      - "{{ asm_disks }}"
      - disks
    tags: asm-disks

  - name: (udev) remove oracle udev rules
    file:
      path: /etc/udev/rules.d/99-oracle-asmdevices.rules
      state: absent
    become: yes
    become_user: root

  - name: (udev) reload rules
    shell: ( /sbin/udevadm control --reload-rules && /sbin/udevadm trigger )
    become: yes
    become_user: root

  - name: Remove users
    user:
      name: "{{ item.name }}"
      state: absent
      remove: yes
      force: yes
    with_items: "{{ oracle_users }}"
    register: remove_users
    become: yes
    become_user: root

  - name: Remove groups
    group:
      name: "{{ item.group }}"
      state: absent
    with_items:
      - "{{ oracle_groups }}"
      - "{{ asm_groups }}"
    register: remove_groups
    become: yes
    become_user: root

  - name: Results prior to server reboot
    debug:
      msg:
        - "{{ srvice_stop }}"
        - "{{ kill_procs }}"
        - "{{ has_deconfig }}"
        - "{{ remove_files }}"
        - "{{ remove_users }}"
        - "{{ remove_groups }}"
        - "{{ delete_asm_disks }}"
        - "{{ remove_oracleasm }}"
        - "{{ zero_disks }}"
      verbosity: 1

  - name: Server reboot
    reboot:
    register: server_reboot
    become: yes
    become_user: root
    when: "('virtualbox' in ansible_virtualization_type)"

  - name: Re-mount swlib
    # Not using the Ansible mount module as this is a temporary mount
    command: "mount -t vboxsf swlib /swlib"
    when: "('virtualbox' in ansible_virtualization_type)"
    become: yes
    become_user: root
