.ansible_cache
.ansible_vault_pass
.ansible-lint*
.terraform
.vault_pass.txt
.yamllint
*.encrypted
*.vault
**/.retry
**/.bundle
**/.DS_Store
**/.vagrant
**/.vscode
**/*.bak
**/*.key
**/*.pem
**/*.pub
**/*.pwd
**/*.swp
**/*.tmp
**/nohup.out
**/typescript
**/vault.yml
hosts.yml
inventory
inventory_files/*
logs/*.log
secrets.yml
secrets/
vars/
vault_password_file
