source oraenv <<< {{ oracle_sid }}

srvctl stop db -d {{ db_name }} -o immediate

sqlplus -s / as sysdba << EOF
startup mount
alter database archivelog;
alter database open;
archive log list

set pages 32767 lines 180 trims on tab off
column name format a32
column display_value format a64
column status format a32
column filename format a64

alter database enable block change tracking;
select status, filename from v\$block_change_tracking;

select name, display_value from (
select name, display_value from v\$system_parameter2 where name like 'log_archive%' and isdefault != 'TRUE'
union
select name, display_value from v\$system_parameter2 where name like 'db_recovery%'
)
order by 1,2;
EOF

{% if cluster_type == 'RAC' %}
srvctl start db -d {{ db_name }}
{% endif %}
