{% macro domain() -%}{% if hostvars[groups['dbasm'].0]['cluster_domain'] is defined and hostvars[groups['dbasm'].0]['cluster_domain']|length > 0 -%}.{{ hostvars[groups['dbasm'].0]['cluster_domain'] }}{% endif -%}{% endmacro -%}
responseFileVersion=/oracle/assistants/rspfmt_dbca_response_schema_v19.0.0
gdbName={{ db_name }}{{ domain() }}
databaseConfigType={{ db_config_type }}
createAsContainerDatabase={{ container_db }}
numberOfPDBs={{ pdb_count }}
pdbName={{ pdb_prefix }}
useLocalUndoForPDBs=
pdbAdminPassword={{ pass_pdbadmin }}
nodelist={% set c = joiner(",") %}{% for h in groups['dbasm'] %}{{ c() }}{{ h }}{% endfor %}

templateName=General_Purpose.dbc
sysPassword={{ pass_sys }}
systemPassword={{ pass_system }}
oracleHomeUserPassword=
emConfiguration=NONE
storageType=ASM
diskGroupName={{ data_diskgroup }}
recoveryGroupName={{ reco_diskgroup }}
characterSet={{ charset }}
nationalCharacterSet={{ ncharset }}
initParams=pga_aggregate_target='{{ pga_aggtar_bytes }}',sga_target='{{ sga_target_bytes }}',streams_pool_size=64M,use_large_pages=TRUE,{% if hostvars[groups['dbasm'].0]['cluster_domain'] is defined and hostvars[groups['dbasm'].0]['cluster_domain']|length > 0 %}db_domain='{{ hostvars[groups['dbasm'].0]['cluster_domain'] }}',{% endif %}diagnostic_dest='{{ oracle_base }}'
databaseType={{ db_type }}
automaticMemoryManagement=false
