#!/bin/bash

{% if oracle_ver == "11.2.0.4.0" or oracle_ver == "12.1.0.2.0" or oracle_ver == "12.2.0.1.0" %}
cp {{ swlib_unzip_path }}/database/response/db_install.rsp {{ swlib_unzip_path }}/db_install.rsp
{% else %}
cp {{ oracle_home }}/install/response/db_install.rsp {{ swlib_unzip_path }}/db_install.rsp
{% endif %}
 
sed -i '/^oracle.install.option/                s~oracle.install.option=~oracle.install.option=INSTALL_DB_SWONLY~'                                       {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.InstallEdition/     s~oracle.install.db.InstallEdition=~oracle.install.db.InstallEdition='{{ oracle_edition }}'~'            {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^ORACLE_HOSTNAME/                      s~ORACLE_HOSTNAME=~ORACLE_HOSTNAME=`hostname -A`~'                                                       {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^UNIX_GROUP_NAME/                      s~UNIX_GROUP_NAME=~UNIX_GROUP_NAME=oinstall~'                                                            {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^INVENTORY_LOCATION/                   s~INVENTORY_LOCATION=~INVENTORY_LOCATION='{{ oracle_root }}'/oraInventory~'                                         {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^ORACLE_HOME/                          s~ORACLE_HOME=~ORACLE_HOME='{{ oracle_home }}'~'                                                         {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^ORACLE_BASE/                          s~ORACLE_BASE=~ORACLE_BASE='{{ oracle_base }}'~'                                                         {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.DBA_GROUP/          s~oracle.install.db.DBA_GROUP=~oracle.install.db.DBA_GROUP=dba~'                                         {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OPER_GROUP/         s~oracle.install.db.OPER_GROUP=~oracle.install.db.OPER_GROUP=dba~'                                       {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.BACKUPDBA_GROUP/    s~oracle.install.db.BACKUPDBA_GROUP=~oracle.install.db.BACKUPDBA_GROUP=dba~'                             {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.DGDBA_GROUP/        s~oracle.install.db.DGDBA_GROUP=~oracle.install.db.DGDBA_GROUP=dba~'                                     {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.KMDBA_GROUP/        s~oracle.install.db.KMDBA_GROUP=~oracle.install.db.KMDBA_GROUP=dba~'                                     {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OSDBA_GROUP/        s~oracle.install.db.OSDBA_GROUP=~oracle.install.db.OSDBA_GROUP=dba~'                                     {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OSOPER_GROUP/       s~oracle.install.db.OSOPER_GROUP=~oracle.install.db.OSOPER_GROUP=dba~'                                   {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OSBACKUPDBA_GROUP/  s~oracle.install.db.OSBACKUPDBA_GROUP=~oracle.install.db.OSBACKUPDBA_GROUP=dba~'                         {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OSDGDBA_GROUP/      s~oracle.install.db.OSDGDBA_GROUP=~oracle.install.db.OSDGDBA_GROUP=dba~'                                 {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OSKMDBA_GROUP/      s~oracle.install.db.OSKMDBA_GROUP=~oracle.install.db.OSKMDBA_GROUP=dba~'                                 {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^oracle.install.db.OSRACDBA_GROUP/     s~oracle.install.db.OSRACDBA_GROUP=~oracle.install.db.OSRACDBA_GROUP=dba~'                               {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^SECURITY_UPDATES_VIA_MYORACLESUPPORT/ s~SECURITY_UPDATES_VIA_MYORACLESUPPORT=~SECURITY_UPDATES_VIA_MYORACLESUPPORT=false~'                     {{ swlib_unzip_path }}/db_install.rsp
sed -i '/^DECLINE_SECURITY_UPDATES/             s~DECLINE_SECURITY_UPDATES=~DECLINE_SECURITY_UPDATES=TRUE~'                                              {{ swlib_unzip_path }}/db_install.rsp
