NAMES.DIRECTORY_PATH=(TNSNAMES,EZCONNECT)
SQLNET.ENCRYPTION_SERVER=required
{% if oracle_ver == "11.2.0.4.0" %}
SQLNET.ALLOWED_LOGON_VERSION=12
{% else %}
SQLNET.ALLOWED_LOGON_VERSION_SERVER=12a
{% endif %}
