{{ asm_sid }}.instance_type=ASM
{{ asm_sid }}.asm_diskstring='{{ asm_diskstring }}'
{{ asm_sid }}.large_pool_size=12M
{{ asm_sid }}.remote_login_passwordfile='EXCLUSIVE'
{{ asm_sid }}.memory_target=0
#{{ asm_sid }}.sga_target=3G
#{{ asm_sid }}.pga_aggregate_target=400M
{{ asm_sid }}.processes=1024
