duplicate target database for standby
nofilenamecheck
{% if duplicate_type|default('active', true)|lower == 'active' %}
from active database
section size {{ section_size | default('32G', true) }}
{% if oracle_ver_base != '11.2' %}using {% if backupset_compression | default(false) | bool %}compressed{% endif %} backupset
{% endif %}
{% elif duplicate_type|default('active', true)|lower == 'backup' %}
backup location '{{ backup_dest }}'
{% endif %}
spfile
set "db_unique_name"="{{ db_name }}{{ standby_suffix }}"
set "local_listener"="(DESCRIPTION=(ADDRESS=(PROTOCOL=TCP)(HOST={{ ansible_ssh_host }})(PORT={{ listener_port }})))";
