export ORACLE_SID={{ oracle_sid }}
export ORACLE_BASE={{ oracle_base }}
export ORACLE_HOME={{ oracle_home }}
export GRID_HOME={{ grid_home }}
export PATH=${ORACLE_HOME}/bin:${PATH}
export SWLIB={{ swlib_path }}
